{% extends 'base.html' %}
{% load static %}
<!--<link rel="stylesheet" href="mystyle.css">-->

{% block extrahead %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

{% endblock %}
{% block js %}

{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2">
                <div class="row h-100 border">

                </div>
            </div>

            <div class="col">
                <div class="row">
                    <form>
                        {% csrf_token %}
                        {% for data in tree %}
                            {% if data.0 > 1 %}
                                {% if data.4 == 1 %}
                                    <div class="row mt-3 text-black-50">
                                {% else %}
                                    <div class="row mt-3">
                                {% endif %}
                                    {% if data.3 > 0 %}
                                        <div class="row text-container">

                                            <div class="col-sm-1">
                                                {{ data.3 }}.
                                            </div>
                                            <div class="col" id="{{ data.0 }}">
                                                <a href="{{data.0}}">{{ data.1|safe }}</a>
                                            </div>
                                        </div>
                                        <div class="row option-menu justify-content-end">

                                        </div>
                                    {% else %}
                                        <div class="col"><h3>{{ data.1|capfirst }}</h3></div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </form>
                </div>

            </div>

            <div class="col-md-1">

            </div>
        </div>
        <div class="row">
            {% include 'photos/timeline_js.html' %}
        </div>
    </div>
    <img src="https://live.staticflickr.com/65535/52393299665_82ba29620d_h.jpg" alt="HTML tutorial" style="width:42px;height:42px;">

{% endblock %}
