{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}

<div class="row border rounded px-3 mt-5 pt-3">

    {% for item in sibling.get_path %}
        <ul >
            <li>{{ item.item|safe }}</li>
    {% endfor %}
    {% for item in sibling.get_path %}
        </ul>
    {% endfor %}
</div>
<form method="post" action="{% url 'bibliotheque-allegation-add' sibling.id %}">
    {% csrf_token %}

    <div class="row border rounded mt-4">
        {% bootstrap_form form %}
    </div>

</form>
{{ form.errors }}
{{ form.non_field_errors }}

{% endblock %}