
<!-- Modal -->
<div class="modal fade" id="editFalseAllegationModal" tabindex="-1" aria-labelledby="editFalseAllegationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editFalseAllegationModalLabel">Modifier le Text</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Anuler"></button>
            </div>
<!--            <form method="post" action="{% url 'bibliotheque-text-update' %}">-->
            <form method="post" action="{% url 'add-as-child' %}" id="main_form">
                {% csrf_token %}
                
                <input type="hidden" name="parent_id" value="#">

                <div class="modal-body">
                <!--     contenu       -->
                        <div class="row mt-4">
                            <div class="form-group inline_textarea_explanation"></div>
                        </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close-edit-text-modal" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>

            </form>

        </div>
    </div>
</div>