{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block js %}

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="row">
                <h1>Album list -</h1>
            </div>
            
            <div class="row">
                {% for album in albums %}
                    <div class="card mt-3 mx-2" style="width: 18rem;">

                        <div class="card-body">
                            <h5 class="card-title">{{album.name}}</h5>

                            <p class="card-text">{{album.desc}}</p>
                            <p class="card-text">{{photo.link_to_original_photo}}</p>
                            <a href="{% url 'album-update-view' album.id %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'album-detail-view' album.id %}" class="btn btn-success">View</a>
                            <a href="{% url 'album-delete-view' album.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}