{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block js %}

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="row">
                <h1>Album list -</h1>
            </div>
            
            <div class="row">
                {% for photo in photos %}
                    {% comment %} <img src="{{ photo.path}}" alt="{{ photo.date }}"> {% endcomment %}
                    <p>Date: {{ photo.date }}</p>
                    <p>Path: {{ photo.path }}</p>
                {% endfor %}

                <div class="pagination">
                    <span class="step-links">
                        {% if photos.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ photos.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ photos.number }} of {{ photos.paginator.num_pages }}.
                        </span>

                        {% if photos.has_next %}
                            <a href="?page={{ photos.next_page_number }}">next</a>
                            <a href="?page={{ photos.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>

            </div>
        </div>
    </div>
{% endblock %}