{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block js %}

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="row">
                <h1>Delete</h1>
            </div>


                <form method="post">
                    <div class="row">
                        {% csrf_token %}
                        <p>Delete {{object}}</p>
                        {% bootstrap_form form %}
                        <input type="submit" value="Confirm" class="btn btn-danger">
                    </div>
                </form>


        </div>
    </div>
{% endblock %}