{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block js %}

{% endblock %}

{% block content %}
    <h1>{{form_step_name}}</h1>
    {% if parent_obj %}

    {% else %}

    {% endif %}
    {% if argument %}
        <form action="{% url form_action argument %}" method="post" class="form">
    {% else %}
        <form action="{% url form_action %}" method="post" class="form">
    {% endif %}
        {% csrf_token %}
        <div class="row border">
            {% bootstrap_form form %}
        </div>
        <div class="row mt-3">
            {% buttons %}
                {% for step in next_step_list %}
                    <button type="submit" class="btn btn-primary" name="{{step}}">{{step}}</button>
                {% endfor %}
            {% endbuttons %}
        </div>
    </form>

{% endblock %}