{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block js %}

{% endblock %}

{% block content %}
    <h1>media</h1>
    <form action="{% url 'timelinejs-media-add' %}" method="post" class="form">
        {% csrf_token %}
        <div class="row border">
            {% bootstrap_form media_form %}
        </div>
        <div class="row mt-3">
            {% buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn btn-primary" name="add_slide">add new slide</button>
            {% endbuttons %}
        </div>
    </form>

{% endblock %}