{% load static %}
<!-- https://learndjango.com/tutorials/django-login-and-logout-tutorial -->



{% block js %}

{% endblock %}

<div class="row">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">

		    <a class="navbar-brand" href="#">Parjure Élise Ayoub</a>

		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="requeteDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Requete
						</a>
						<ul class="dropdown-menu" aria-labelledby="requeteDropdown">
							<li class="nav-item"><a class="dropdown-item" href="{% url 'home' %}">Edit</a></li>
							<li class="nav-item"><a class="dropdown-item" href="{% url 'bibliotheque-hierarchy' %}">Integrity view</a></li>
							<li class="nav-item"><a class="dropdown-item" href="{% url 'hierarchy' %}">Presentation</a></li>
							<li class="nav-item"><a class="dropdown-item" href="{% url 'add-as-child' %}">add as child test</a></li>
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="timeLineJSDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Timeline JS
						</a>
						<ul class="dropdown-menu" aria-labelledby="timeLineJSDropdown">
							<li class="nav-item"><a class="dropdown-item" href="{% url 'timelinejs-list' %}">Liste</a></li>
							<li class="nav-item"><a class="dropdown-item" href="{% url 'timelinejs-event-add' %}">Create</a></li>
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="FlickrDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Flickr
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="{% url 'flicker-list-view' %}">All pictures</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="{% url 'flikr-list' %}">Photo list</a></li>
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Flickr Albums
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="{% url 'album-create-view-2' %}">Create</a></li>
							<li><a class="dropdown-item" href="{% url 'album-list-view' %}">List</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
					</li>

				</ul>
		    </div>
		    
		   
		</div>
	</nav>
</div>
